.table {
  width: 100%;
  margin: auto;
}

thead {
  background-color: #343a40;
  color: white;
}

.rounded-circle {
  display: inline-block;
  vertical-align: middle;
}

.ngb-pagination {
  justify-content: center;
  margin-top: 20px;
}
