SECRET_KEY=ak1andusfj91na01230asn0a@(#*Aka-1(281na))
POSTGRES_USER=postgres
POSTGRES_NAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=web-app-db
POSTGRES_LOCAL_PORT=5432
POSTGRES_PORT=5432
DJANGO_PORT=8000